@import url(https://fonts.googleapis.com/css?family=Mansalva:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  background: #222;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}
.App {
  position: relative;
}

textarea {
  resize: none;
  width: 35em;
  height: 20vh;
  border-radius: 1.2ex;
  background-color: rgb(77, 77, 77);
  color: rgb(255, 217, 0);
  outline: none;
  border: none;
  font-weight: 666;
  font-size: 20px;
  padding: 15px;
  letter-spacing: 0.05ex;
  font-style: italic;
}
textarea::selection {
  background-color: rgba(34, 34, 34, 0.859);
}

grammarly-editor-plugin {
  --grammarly-default-font-family: "Poppins";
  --grammarly-interactive-color: tomato;
  --grammarly-default-border-radius: 30px;
  --grammarly-card-border-radius: 0px;
}

grammarly-button {
  position: absolute;
  top: 155px;
  right: 6px;
  --_1xsyy5eh: #272 !important;
}
._1xsyy5e1x {
  --_1xsyy5eh: #272 !important;
}
* {
  fill: var(--_1xsyy5eh) !important;
}
grammarly-editor-plugin,
grammarly-button {
  color-scheme: dark;
}
/* @media (prefers-color-scheme: light) {
  grammarly-editor-plugin {
    --grammarly-interactive-color: #bce41e;
  }
}

@media (prefers-color-scheme: dark) {
  grammarly-editor-plugin {
    --grammarly-interactive-color: #ee6748;
  }
} */
.letters {
  display: flex;
  justify-content: space-between;
  font-family: "Mansalva";
}
.letters p {
  font-weight: 566;
  color: aliceblue;
  letter-spacing: 0.09em;
}
.letters p span {
  padding-left: 3px;
}
/*Responsive:*/

@media (max-width: 768px) {
  textarea {
    width: 20em;
  }
}

@media (max-width: 455px) {
  textarea {
    width: 15em;
  }
}
textarea::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(103, 99, 59);
  border-radius: 1ex;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(57, 57, 57);
  width: 6px;
  border-radius: 0.9ex;
}

.d-write {
  animation: shaking 1s ease-out 0s 3;
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px 1px #222;
  }
  25% {
    box-shadow: 0px 0px 2px 2px rgb(68, 68, 68);
    transform: rotate(3deg);
  }
  50% {
    box-shadow: 0px 0px 3px 3px rgb(109, 108, 108);

    transform: rotate(0deg);
  }
  75% {
    box-shadow: 0px 0px 4px 4px rgb(230, 39, 39);

    transform: rotate(-3deg);
  }
  100% {
    box-shadow: 0px 0px 1px 1px rgba(230, 39, 39, 0.659);
    transform: rotate(0deg);
  }
}
